-gallery_images = ["mx.jpg","12375.jpg","12160.jpg"]
!!!5
%html{class:'no-js', lang:"es"}
  %head
    %meta{charset:'utf-8'}
    %title JARStudio
    %meta{name:"description", content:"Come rico en el mejor restaurant de la ciudad, servicio de primera."}
    %link{href:"https://fonts.googleapis.com/css?family=Codystar", rel:"stylesheet"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}
    %script{src:"js/vendor/modernizr-3.6.0.min.js"}

  %body
    ="<!--[if lt IE 9]"
    %p{class:"browserupgrade"}
      Estas usando un navegador
      %strong desactualizado
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador
      para una mejor experiencia
    ="<![endif]-->"
    .video-container
      %video{autoplay:true,loop:true,width:"1280",height:"720",poster:"./videos/snapshots/bbq.jpg"}
        %source{src:"./videos/mp4/bbq.mp4",typ:"video/mp4"}
        %source{src:"./videos/webm/bbq.webm",typ:"video/webm"}
    .row.full-height.middle-xs.center-xs.relative.up#home
      .col-xs-12
        .box.white-text
          %img{src:"./imgs/logo.png", width:200}
          %h1.dancing-script.title.no-margin JARStudio
          %p#is-open
            %i.glyphicon.glyphicon-time
            %span.text I don't wanna go
      %nav.fixed.top.right.navigation.white-text#navigation
        -menu = [{title:"Home",link:"#home"}, {title:"Projects",link:"#menu"}, {title:"Gallery",link:"#gallery"}, {title:"Contact",link:"#contact"}, {title:"How to get",link:"#location"}]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{href:item[:link]}= item[:title]
      .absolute.black.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Trust us, we do not disappoint
          .col-xs.hidden#sticky-navigation
            .box
              %nav.text-right.navigation#responsive-nav
                %i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle.glyphicon-remove#menu-opener
                %ul.list-inline
                  -menu.each do |item|
                    %li
                      %a.menu-link{href:item[:link]}= item[:title]

    .text-center.relative#menu
      .absolute.white#menu-title
        %h2.dancing-script Productos
        -menu_photos = [{name:"Hand-X",image:"cf",pricing:"1000"},{name:"Hand-Y",image:"ck",pricing:"1200"},{name:"Hand-Z",image:"cook",pricing:"999"},{name:"Sensor Flex",image:"md",pricing:"50.00"},{name:"Arduino",image:"mxx",pricing:"250.00"},{name:"Base1",image:"sp",pricing:"500.00"},{name:"WakeMeNowPremium",image:"sj",pricing:"155.00"},{name:"WakeMeNow",image:"nj",pricing:"0"}]
      

      .row
        -menu_photos.each do |photo|
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(./imgs/food/#{photo[:image]}.jpg)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.dancing-script.subtitle= photo[:name]
                  %p.no-margin= photo[:pricing] + "MXN"

    #gallery
      .inner
        -gallery_images.each do |image|
          .image{style:"background-image:url(./imgs/food/#{image});"}
    .container
      .card.white.black-text.text-center.relative
        %h3.slim
          first 
          %strong.dancing-script.medium Our Story
          The idea to create Wake was inspired by our own troubles waking up in the morning.
          %strong.dancing-script.medium We wanted to build a simpler
        %p.top-space
          more beautiful alarm clock for iOS that would always wake us up. Our goal was to modernize the alarm clock for iOS, taking inspiration from minimal interfaces like the original iPod wheel and the iconic Braun alarm clocks.
          After testing and tweaking over a hundred versions—we obsessed over the tiny details to get things perfect!—we’re extremely proud to share Wake with the world. Wake up on the right side of the bed, everyday, with the most beautiful and intuitive alarm for iPhone.
          %strong.dancing-script.medium Att Diego - CEO
          .large-padding.medium.black.white-text.text-center
            You can also access this site without internet

    .black.white-text.full-height#contact
      .row.middle-xs.full-height
        .col-xs-12
          .box
            %p.text-center.medium#info-contacto Press enter to fill in the corresponding field and send us an email

            %form{action:"https://formspree.io/Kiritsugufel@gmail.com",method:"POST",id:"contact-form",class:"step-form"}

              .row.center-xs
                .col-xs-12.col-sm-2.col-md-1.first-sm
                  .box
                    -3.times do |i|
                      -if i == 0
                        .path-step.active
                      -else
                        .path-step
                .col-xs-12.col-sm-3.first-xs
                  .box
                    %fieldset.step.active
                      %input{type:"email",name:"email",placeholder:"Email",class:"input",required:true}
                    %fieldset.step
                      %input{type:"text",name:"name",placeholder:"Name",class:"input",required:true}
                    %fieldset.step
                      %textarea{name:"body",placeholder:"Message",class:"input",required:true}
    #location
      #map
      #message.black.large-padding.white-text.text-center.medium
        Test

    %script{src:"https://code.jquery.com/jquery-3.3.1.min.js",integrity:"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8:",crossorigin:"anonymous"}
    %script
      window.jQuery || document.write("<script src='./js/vendor/jquery-3.3.1.min.js'><\/script>")
    %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyBA8gIU645oqJ3XVT9u4sr-C4GEFO-Pc8Q"}
    %script{src:"https://unpkg.com/sweetalert/dist/sweetalert.min.js"}
    %script{src:"./js/maps.js"}
    %script{src:"/dist/app.js"}



